# Python Requirements

# You can install all the requirements with the following shell command
#	python -m pip install -r requirements.txt

Cython~=0.29
dask[complete]~=2.2
ipython~=8.10
numba~=0.5
numexpr~=2.7
pandas~=1.1
pytest-benchmark~=3.2
tables~=3.6
